<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aichdee-Ayurveda</title>
    <style>
      #items:hover {
        color: black;
      }
      #items:active {
        color: yellow;
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- or link to the CDN -->

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:red;">
      <div class="container">
        <a class="navbar-brand" href="/">Aichdee-AYURVEDA.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="items" class="nav-link active" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a id="items" class="nav-link active" aria-current="page" href="/skincare">Skin</a>
            </li>
            <li class="nav-item">
              <a id="items" class="nav-link active" aria-current="page" href="/haircare">Hair</a>
            </li>
            <li class="nav-item">
              <a id="items" class="nav-link active" aria-current="page" href="/naturalcare">Natural</a>
            </li>
            
          </ul>
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-warning" type="submit">S</button>
            </form>
          <div>
           
          </div>
        </div>
      </div>
     </nav>

       <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./views/static/banner2.jpeg" class="d-block w-100" alt="..." height="600px;">
          </div>
          <div class="carousel-item">
            <img src="./views/static/banner4.jpeg" class="d-block w-100" alt="..." height="600px;">
          </div>
          <div class="carousel-item">
            <img src="./views/static/banner3.jpeg" class="d-block w-100" alt="..." height="600px;">
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

      <div class="container">
        <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
          <h1>SALE IS LIVE NOW</h1>
          <span>5% Instant Discount on Axis Bank Credit and Debit Card</span>
          <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
        </div>
      </div>

      
      <div class="m-3" >
        <h1 style="text-align:center;background-color:violet;color:white;"><b>Skin Products<b> &#128512;&#128512;</h1><br>
        <!-- Slider 1 -->
        <div class="container" id="slider1" style="display:flex;justify-content:space-between;flex-wrap:wrap;">
        
          <a href="/productdetail/1" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/e/8/e80c887LOREA00000486_1.jpg?tr=w-344,h-344,cm-pad_resize" alt="" height="200px"><br><span class="fw-bold">Loreal dark circle remover</span><br><span class="fs-5">Rs. 664</span></div></a>
          <a href="/productdetail/2" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/5/9/59d87f8LOREA00000421_1.jpg?tr=w-344,h-344,cm-pad_resize" alt="" height="200px"><br><span class="fw-bold">Loreal Younger looking eyes</span><br><span class="fs-5">Rs. 880</span></div></a>
          <a href="/productdetail/3" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/6/b69dfa5O3XXX00000135_1407231.jpg" alt="" height="200px"><br><span class="fw-bold">O3+ Professional Snail Mucin</span><br><span class="fs-5">Rs. 977</span></div></a>
          <a href="/productdetail/10" class="btn"><div class="item"><img src="https://images.mamaearth.in/catalog/product/v/i/vit-c-glow-sunscreen1.jpg?format=auto&height=600" alt="" height="200px"><br><span class="fw-bold">MamaEarth daily glow Sunscreen</span><br><span class="fs-5">Rs. 640</span></div></a>
          
        </div>
       </div>

       <div class="container my-5">
        <div class="row">
         <div class="col-sm-3">
          <div class="card mb-3">
            <div class="card-body">
            <img src="./views/static/paypal.jpg" alt="" srcset="" class="img-fluid">
            </div>
          </div>
         </div>
         <div class="col-sm-3">
          <div class="card mb-3">
            <div class="card-body">
             <img src="./views/static/upi.jpg" alt="" srcset="" class="img-fluid">
            </div>
          </div>
         </div>
         <div class="col-sm-3">
          <div class="card mb-3">
            <div class="card-body">
             <img src="./views/static/nb.jpg" alt="" srcset="" class="img-fluid">
            </div>
          </div>
         </div>
         <div class="col-sm-3">
          <div class="card mb-3">
            <div class="card-body">
             <img src="./views/static/bj.jpg" alt="" srcset="" class="img-fluid">
            </div>
          </div>
         </div>
        </div>
       </div>

       <div class="m-3" >
        <h1 style="text-align:center;background-color:rgb(47, 28, 47);color:white;"><b>Hair Products<b> &#128512;&#128512;</h1><br>
        <!-- Slider 1 -->
        <div class="container" id="slider1" style="display:flex;justify-content:space-between;flex-wrap:wrap;">
         
          <a href="/productdetail/4" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/2/8/28937c9SOULF00000132_1.jpg" alt="" height="200px"><br><span class="fw-bold">Soulflower Hair Growth Serum</span><br><span class="fs-5">Rs. 645</span></div></a>
          <a href="/productdetail/5" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/c/4/c44cbfaWISHC00000042_1PO.jpg" alt="" height="200px"><br><span class="fw-bold">Wishcare Hair Growth Serum Concentrate</span><br><span class="fs-5">Rs. 689</span></div></a>
          <a href="/productdetail/6" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/8/5/858dfbfNYKAB00000997_1.jpg?tr=w-344,h-344,cm-pad_resize" alt="" height="200px"><br><span class="fw-bold">Nykaa Fenugreek Hair Growth Scalp</span><br><span class="fs-5">Rs. 990</span></div></a>
          <a href="/productdetail/11" class="btn"><div class="item"><img src="https://images.mamaearth.in/catalog/product/_/o/_onion-oil-250ml__1_1_1.jpeg?format=auto&width=400&height=400" alt="" height="200px"><br><span class="fw-bold">Mamaearth Hair Oil </span><br><span class="fs-5">Rs. 870</span></div></a>
          
        </div>
       </div>

       <div class="m-3" >
        <h1 style="text-align:center;background-color:rgb(156, 243, 145);color:white;"><b>Natural Products<b> &#128512;&#128512;</h1><br>
        <!-- Slider 1 -->
        <div class="container" id="slider1" style="display:flex;justify-content:space-between;flex-wrap:wrap;">
         
          <a href="/productdetail/7" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/8/9/8904245703622_1_1_2.jpg" alt="" height="200px"><br><span class="fw-bold">Nykaa Rose Nail Cream</span><br><span class="fs-5">Rs. 620</span></div></a>
          <a href="/productdetail/8" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/a/7/a74b9cb8906127100833_1.jpg" alt="" height="200px"><br><span class="fw-bold">Wishcare Sunscreen Body Lotion</span><br><span class="fs-5">Rs. 355</span></div></a>
          <a href="/productdetail/9" class="btn"><div class="item"><img src="https://images-static.nykaa.com/media/catalog/product/7/a/7a43b56NYKMCF0000002_1.jpg" alt="" height="200px"><br><span class="fw-bold">MCaffeine Exfoliating Coffee Body Scrub</span><br><span class="fs-5">Rs. 395</span></div></a>
          <a href="/productdetail/12" class="btn"><div class="item"><img src="https://images.mamaearth.in/catalog/product/a/l/aloe-vera-gel---pack-of-2_white_bg.jpg?format=auto&width=400&height=400" alt="" height="200px"><br><span class="fw-bold">Mamaearth aloeVera</span><br><span class="fs-5">Rs. 890</span></div></a>
          
        </div>
       </div>
       <footer class="container-fluid bg-dark text-center p-2 mt-5">
        <small class="text-white">Copyright &copy; 2024 || Designed By Rahul Kumar Rawani || </small>
        <img src="./views/static/end.png" alt="" srcset="" class="img-fluid" height="2px">
        </footer> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>